<div>
  <h1>PROYECTOS</h1>

  <div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">

          <button [routerLink]="['/proyecto']" type="button" class="btn btn-primary ">
            <fa name="plus"></fa>Nuevo Proyecto          
          </button>
          <button [routerLink]="['/horas']" type="button" class="btn btn-outline-success ">
            <fa name="plus"></fa>Horas          
          </button>
          <hr>

        <div class="input-group">
          <input class="form-control col-md-6" placeholder="Buscar proyectos">
          <div class="input-group-addon">
            <button type="button" class="btn btn-outline-primary">
              <fa name="search"></fa>
            </button>
          </div>
        </div>

        <!-- Tabla principal de Proyectos  -->

        <br>

        <table class="table">
          <thead class="thead-default">
            <tr>
              <!-- <th>Id Proyecto</th> -->
              <th>Nombre Proyecto</th>
              <th>Horas</th>
              <th>Fecha de Creación</th>
              <th class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let k of proyectos  | keys; let i = index">
              <!-- <td>{{i + 1}}</td>            -->
              <!-- <td>{{ proyectos[k].id }}</td> -->
              <td>{{ proyectos[k].project_code }}</td>
              <td>{{ proyectos[k].total_hours }}</td>
              <td>{{ proyectos[k].create_date | date }}</td>
              <td class="text-right w120">              


                <!-- Hay que vincular los proyectos a las tareas con una nueva coleccion en firebase  -->

                 <!-- Editar Proyecto -->
                <button [routerLink]="['/proyecto']" type="button" class="btn btn-outline-primary btn-responsive  visible-xs">
                  Editar
                  <fa name="edit"></fa>
                </button>
                <!-- Lista de Tareas -->
                <button [routerLink]="['/tareas',proyectos[k].id]" type="button" class="btn btn-outline-primary  visible-xs">Tareas
                  <fa name="calendar"></fa>
                </button>
                <!-- Agregar Horas -->
                <button [routerLink]="['/horas']" type="button" class="btn btn-outline-success  visible-xs">
                  <fa name="plus"></fa>Horas
                </button>

              </td>
            </tr>
        </table>


      </div>

    </div>
  </div>

</div>