<body>
    <div class="container">
        <h3><b>PROYECTOS</b></h3>        
        <div class="hint-text ">Mostrando <b>5</b> de <b>25</b> entradas</div>
        <ul class="pagination">
            <pagination-controls class="my-pagination" (pageChange)=" p =$event"> </pagination-controls>            
        </ul>
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control form-control-lg" placeholder="Buscar proyectos">
        <div class="row">
            <div class="col-md-12 text-center" id="middlebutton">
                <button [routerLink]="['/proyecto','nuevo']" type="button" class="btn btn-outline-primary btn-lg">
                    Nuevo Proyecto
                    <!-- <fa name="plus"></fa>Nuevo Proyecto -->            
                    <i class="fa fa-plus"></i>          
                </button>
                <button [routerLink]="['/horas/proyecto','nueva']" type="button" class="btn btn-success btn-lg">
                    Cargar Horas
                    <!-- <fa name="plus"></fa>Cargar Horas -->
                </button>
                <!-- Button to Open the Modal -->

                <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Asignar usuarios a proyecto</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>

                      <div class="form-group">


                            <!-- <mat-select placeholder="Proyectos" [(ngModel)]="proyecto.IdProyecto" name="Proyecto" (selectionChange)="onProyectoChange($event)">                         -->

                                    <!-- <mat-option *ngFor="let p of proyectos" [value]="p.Nombre"> -->

                          <mat-form-field>
                              <mat-select placeholder="Proyectos" [(ngModel)]="proyecto.IdProyecto" name="Proyecto" (selectionChange)="onProyectoChange($event)">                        
                                  <mat-option *ngFor="let p of proyectos" [value]="p.IdProyecto">
                                      {{ p.Nombre }}
                                  </mat-option>                          
                              </mat-select>
                          </mat-form-field>

                          <br>


                        <!-- <label for="dateOfBirth">Usuarios</label>     -->

                        <!-- <p>
                            Usuarios selec: {{lista.selectedOptions.selected.length}}
                          </p>     -->
                          
                          
                          <mat-form-field>
                                <mat-select placeholder="Usuarios" [formControl]="selectedusers" multiple>
                                  <mat-option *ngFor="let u of listausuariosMerge" [value]="u">{{u.Nombre}}</mat-option>
                                </mat-select>
                              </mat-form-field>

                              <div>
                                    value selected is : {{valueSelected}}
                                  </div>



                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Asignar</button>
                  </div>
                </ng-template>
                
                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Asignar Usuarios a proyecto</button>
                
                <hr>
                
                <pre>{{closeResult}}</pre>
             




            </div>
        </div>
        <div class="container">
            <div class="">
                <table class="table table-dark  table-hover table-striped ">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Fecha de Inicio</th>
                            <th>Editar Proyecto</th>
                            <th>Listar Tareas</th>
                            <th>Cargar Horas</th>
                            <th>Eliminar Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let k of proyectos | keys | paginate:{itemsPerPage:8,currentPage: p} ">
                            <td>{{ proyectos[k].CodigoProyecto }}</td>
                            <td>{{ proyectos[k].Nombre }}</td>
                            <td>{{ proyectos[k].FechaInicio | date: "dd-MM-yyyy" }}</td>
                            <td>
                                <!-- Editar Proyecto -->
                                <button [routerLink]="['/proyecto', proyectos[k].IdProyecto ]" type="button" class="btn btn-outline-primary btn-sm text-center"
                                    data-toggle="tooltip" data-placement="top" title="Editar Proyecto">

                                    <i class="fa fa-edit"></i>    

                                    <!-- <fa name="edit"></fa> -->
                                </button>
                            </td>
                            <!-- Lista de Tareas -->
                            <td>
                                <button [routerLink]="['/tareas',proyectos[k].IdProyecto]" type="button" class="btn btn-outline-info btn-sm"
                                    data-toggle="tooltip" data-placement="top" title="Listar Tareas">

                                    <i class="fa fa-calendar"></i>    

                                    <!-- <fa name="calendar"></fa> -->
                                </button>

                            </td>
                            <!-- Agregar Horas -->

                            <td>
                                <button [routerLink]="['/horas/proyecto/nueva',proyectos[k].IdProyecto]" type="button"
                                    class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Agregar Horas">

                                    <i class="fa fa-plus"></i>    

                                    <!-- <fa name="plus"></fa> -->
                                </button>

                            </td>
                            
                            <!-- Eliminar Proyectos Horas -->
                            
                            <td>
                                <button id="borrarProyecto" (click)="borrarProyecto(proyectos[k].IdProyecto)" type="button" class="btn btn-outline-danger btn-sm"
                                    data-toggle="tooltip" data-placement="top" title="Eliminar Proyecto">
                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                </button>
                            </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

