body{
    margin: 0px;
}
/* 
#middlebutton{
    margin: 25px 25px;
} */

.AddMargin{
    /* margin: 25px 25px; */
    margin-top: 25px;
    margin-bottom: 25px;
}


.table th, .table td{
    text-align: center;
}

.btn-lg, .btn-group-lg > .btn {
    margin-right: 15px;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}