

<h3>CARGAR HORAS</h3>
<form>
  <div class="form-group">
    <!-- <label for="title">Nombre</label>
    <input  [(ngModel)]="proyecto.project_code" name="code" id="title" type="text" class="form-control"> -->

    <div class="form-group col-md-6">
      <label for="Proyecto">Proyecto</label>
      <select id="Proyecto" class="form-control">
        <option value="Proyecto1">Proyecto1</option>
        <option value="Proyecto2">Proyecto2</option>
        <option value="Proyecto3">Proyecto3</option>
      </select>  
  </div>

    <div class="form-group col-md-6">
        <label for="Tarea">Tarea</label>
        <select id="Tarea" class="form-control">
          <option value="Tarea1">Tarea1</option>
          <option value="Tarea2">Tarea2</option>
          <option value="Tarea3">Tarea3</option>
        </select>  
    </div>
    
    <div class="col-md-6">      
      <label for="horas">Cantidad de Horas</label>
      <input  [(ngModel)]="hora.cantHoras" name="cantHoras" id="cantHoras" type="number" class="form-control">
      <br>

      <label for="horas">Descripcion</label>
      <!-- <input  [(ngModel)]="hora.Descripcion" name="descripcion" id="descripcion" type="text" class="form-control"> -->

      <textarea [(ngModel)]="hora.Descripcion" name="descripcion" id="descripcion" type="text" class="form-control"></textarea>


      <br>

      <label>Fecha</label>
      <br>
      <ng-datepicker [(ngModel)]="hora.fecha" name="inicio" ></ng-datepicker>



      <br>
      <button class="btn btn-primary" (click)="agregarHora()">Guardar</button>
    </div>
    </div>    
    
    
</form>
