<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li ngbDropdown *ngIf="correcto ; else anonymousUser" class="nav-item dropdown pull-right">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user1.Nombre }} </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/proyectos">Proyectos</a>
                    <a class="dropdown-item" routerLink="/horas">Horas</a>
                    <a class="dropdown-item" routerLink="/tareas">Tareas</a>
                    <a class="dropdown-item" (click)="logout()">Salir</a>
                </div>
            </li>
            <ng-template #anonymousUser>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login-usuario">Login</a>
                </li>
            </ng-template>


        </ul>

    </div>
</nav>