<body>
        <div class="container">
            <button type="button" class="btn btn-outline-dark btn-lg pull-left" (click)="backClicked()">
                <i class="fa fa-arrow-left"></i>     
             </button>
          <h2><b>TAREAS del Proyecto: {{ proyecto.Nombre }}</b></h2>          
            <div class="hint-text ">Mostrando <b>5</b> de <b>25</b> entradas</div>
            <ul class="pagination">
                <pagination-controls class="my-pagination" (pageChange)=" p =$event"
                previousLabel="Anterior"
                nextLabel="Siguiente"> </pagination-controls>
            </ul>
            <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control form-control-lg" placeholder="Buscar tareas">


            <div class="row">
                <div class="col-md-12 text-center" id="middlebutton">



                    <button [routerLink]="['/tarea','nueva']" type="button" class="btn btn-outline-primary btn-lg">
                        Nueva Tarea                                  
                        <i class="fa fa-plus"></i>          
                    </button>
                    <button [routerLink]="['/horas/tarea','nueva']" type="button" class="btn btn-success btn-lg">
                        Cargar Horas                        
                    </button>
                </div>
            </div>

            <div class="container">
                <div class="">
                    <table class="table table-dark  table-hover table-striped ">
                        <thead>
                            <tr>
                                <th>Tarea</th>                                
                                <th>Fecha de Inicio</th>
                                <th>Editar Tarea</th>
                                <th>Listar Horas</th>
                                <th>Cargar Horas</th>
                                <th>Eliminar Tarea</th>
                            </tr>
                        </thead>
                        <tbody >                                          
                                    <tr  *ngFor="let k of tareas | keys | paginate:{itemsPerPage:8,currentPage: p}">
                                        <td>{{ tareas[k].Nombre }}</td>
                                        <td>{{ tareas[k].FechaInicio | date: "dd-MM-yyyy" }}</td>
<td>
                                            <!-- Editar Tarea proyectos[k].IdProyecto -->
                                            <button id="editarTarea" [routerLink]="['/tarea',tareas[k].IdTarea]" type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar Tarea">                                                
                                                <i class="fa fa-edit"></i>    
                                            </button>
                                          </td>
                                          <td>
                                            <!-- Listar  Horas -->
                                            <button id="listarHoras" [routerLink]="['/listarhoras',tareas[k].IdTarea]" type="button" class="btn btn-success btn-sm"
                                                data-content="Popover with data-trigger" rel="popover" data-placement="bottom" data-original-title="Title"
                                                data-trigger="hover" data-toggle="tooltip" data-placement="top" title="Listar Horas">
                                                <i class="fa fa-calendar"></i>    
                                            </button>
                                          </td>
                                          <td>
                                            <!-- Agregar Horas -->
                                            <button id="agregarHoras" [routerLink]="['/horas/tarea',tareas[k].IdTarea]" type="button" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="top" title="Agregar Hora">
                                              <i class="fa fa-plus"></i>    
                                            </button>
                                          </td>
                                          <td>
                                            <!-- Borrar Tarea -->
                                            <button id="borrarTarea" (click)="borrarTarea(tareas[k].IdTarea)" type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar Tarea">
                                                <i class="fa fa-plus"></i>    
                                            </button>
                                          </td>
                                        
                                    </tr>
                                
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </body>