<div>


    <div class="row animated fadeIn fast">
        <div class="col-md-12">
            <div class="table-responsive">

                <h1>TAREAS Prueba Ro</h1>

                <button [routerLink]="['/tarea']" type="button" class="btn btn-primary "> 
            <fa name="plus"></fa>Nueva Tarea
          </button>
                <hr>

                <div class="input-group">
                    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control col-md-6" placeholder="Buscar tareas">
                    <div class="input-group-addon">
                        <button type="button" class="btn btn-outline-primary">
              <fa name="search"></fa>
            </button>
                    </div>
                </div>

                <hr>

                <!-- Tabla principal de Tareas  -->

                <br>

                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Tarea</th>
                            <th>Fecha Inicio</th>
                            <th>Horas</th>
                            <th>Proyecto</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let k of tareas | keys | paginate:{itemsPerPage:5,currentPage: p}">

                            <!-- <td>{{ tareas[k].id }}</td> -->
                            <td>{{ tareas[k].Nombre }}</td>
                            <td>{{ tareas[k].FechaInicio | date: "dd-MM-yyyy" }}</td>
                            <td></td>
                            <td>{{ id }}</td>

                            <!-- <td *ngFor="let l of tareas[k].proyectos[l] | keys;"> {{l}}: {{proyecto[l].}} </td> -->

                            <td class="text-right w120">
                                <!-- Agregar Horas -->
                                <button [routerLink]="['/horas',k]" type="button" class="btn btn-outline-success">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>

                                <!-- Editar Tarea -->

                                <button [routerLink]="['/tarea',k]" type="button" class="btn btn-outline-success">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>
                </button>

                                <!-- Borrar Tarea -->
                                <button (click)="borrarTarea(k)" type="button" class="btn btn-outline-danger">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)=" p =$event"> </pagination-controls>