<div class="container-fluid">
    <button type="button" class="btn btn-outline-dark btn-lg pull-left" (click)="backClicked()">
        <i class="fa fa-arrow-left"></i>
      </button>
    <div class="row addMarginBot">
        <div class="col-lg-7 offset-lg-2 col-sm-8 offset-sm-2 col-12">
            <form>
                <div class="card text-center">
                    <div class="card-header">
                        <div *ngIf="user.Email =='' else Title">
                            <h3> NUEVO USUARIO </h3>
                        </div>
                        <ng-template #Title>
                            <h3>{{ user.Email }}</h3>
                        </ng-template>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputNombre" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input id="inputNombre" [ngModel]="user.Nombre" name="Usuario" placeholder="Nombre del nuevo Usuario" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (ngModelChange)="user.Nombre=$event" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input id="inputEmail" [ngModel]="user.Email" name="Email" placeholder="Email del nuevo Usuario" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (ngModelChange)="user.Email=$event" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPass" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input id="inputPass" [ngModel]="user.Clave" name="Password" placeholder="Password del nuevo Usuario" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (ngModelChange)="user.Clave=$event" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCI" class="col-sm-3 col-form-label">C.I.</label>
                            <div class="col-sm-9">
                                <input id="inputCI" [ngModel]="user.CI" name="CI" placeholder="Cédula del nuevo Usuario" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (ngModelChange)="user.CI=$event" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="SelectCompany" class="col-sm-3 col-form-label">Compania</label>
                            <div class="col-sm-9">
                                <select id="SelectCompany" [(ngModel)]="user.oCompany" name="Compania" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    <option *ngFor="let c of companias" [ngValue]="c.Id">{{c.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">Administrador</div>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" name="estado" [(ngModel)]="user.Administrador" type="checkbox" id="gridCheck1" required>
                                    <label class="form-check-label" for="gridCheck1">
                                    Es ADM?
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="hayerrores || user.Nombre== '' || user.Email == '' || user.CI == ''; else habilitarBoton">
                        <button class=" btn btn-outline-dark btn-block" disabled (click)="altaUsuario()">Guardar</button>
                    </div>

                    <ng-template #habilitarBoton>
                        <button class="btn btn-outline-dark btn-block" (click)="altaUsuario()">Guardar</button>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
</div>