<nav  class="navbar navbar-expand-l navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [attr.href]="['/proyectos']">TimeSheet App</a>
  <div class="navbar-expand mr-auto">
    <div *ngIf="user1" class="navbar-nav">
      <!-- <a class="nav-item nav-link active" routerLink="['/proyectos']" >Proyectos</a>       -->
      <a class="nav-item nav-link active" [attr.href]="['/proyectos']" >Proyectos</a>      

      <a class="nav-item nav-link " [attr.href]="['/horasefectivas']" >Horas Efectivas</a> 

      <a class="nav-item nav-link " [attr.href]="['/usuarios']" >Usuarios</a> 

      
      
    </div>
  </div>
  

  <!-- <div *ngIf="user1" class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a  class="nav-item nav-link active" href="#"> {{user1.Nombre }}</a>
      <div ><button class="btn" (click)="logout()">Salir</button></div>      
    </div>
  </div>
</nav> -->

<div *ngIf="user1" class="navbar-expand ml-auto navbar-nav">
  <div class="navbar-nav">
    <a  class="nav-item nav-link active" href="#"> {{user1.Nombre }}</a>
    <div ><button class="btn" (click)="logout()">Salir</button></div>      
  </div>
</div>
</nav>


<div *ngIf="user1.Administrador else validar">
  <button class="btn btn-outline-dark btn-block" disabled (click)="crearTareas()">Guardar</button>            
</div>

<ng-template #validar>
    <button class="btn btn-outline-dark btn-block" (click)="crearTareas()">Guardar</button>              
  </ng-template>

