<nav  class="navbar navbar-expand-l navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [attr.href]="['/proyectos']">TimeSheet App</a>
  <div class="navbar-expand mr-auto">
    <div *ngIf="user1" class="navbar-nav">
      <!-- <a class="nav-item nav-link active" routerLink="['/proyectos']" >Proyectos</a>       -->
      <a class="nav-item nav-link active" [attr.href]="['/proyectos']" >Proyectos</a>      

      <a class="nav-item nav-link " [attr.href]="['/horasefectivas']" >Horas Efectivas</a> 

      <a class="nav-item nav-link " [attr.href]="['/usuarios']" >Usuarios</a> 

      
      
    </div>
  </div>
  

  <div *ngIf="user1" class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a  class="nav-item nav-link active" href="#"> {{user1.Nombre }}</a>
      <div ><button class="btn" (click)="logout()">Salir</button></div>
      <!-- <button class="btn btn-dark" (click)="logout()">Logout</button> -->
    </div>
  </div>
</nav>


