<navbar></navbar>
<div class="container">
    <div class="animated fadeIn fast">

        <div class="row">
        <div class="card">
                <div class="card-header text-center">
                        <h2><b>HORAS EFECTIVAS</b></h2>
                    </div>
            <div class="card-body">
                    <button  type="button" class="btn btn-outline-primary btn-responsive pull-right" routerLink="/proyectos"> < Volver </button>
                <div class="row">
                    <!-- <div class="col-lg-2">
                        <button [routerLink]="['/proyecto','nuevo']" type="button" class="btn btn-primary ">                          
                          <i class="fa fa-print fa-5x" aria-hidden="true"></i>
                        </button>
                    </div> -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar proyectos">
                            <div class="input-group-addon">
                                <button type="button" class="btn btn-outline-primary">
                                        <fa name="search"></fa>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover margin-top"
                *ngFor="let p of result | keys | paginate:{itemsPerPage:8,currentPage: p} ">
                    <thead>
                        <tr >
                            <th>Fecha: {{result[p].name | date: "EEEE, dd-MM-yyyy" }}</th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr *ngFor="let v of result[p].values | keys">                            
                            <td>{{ result[p].values[v].oProyecto.Nombre }}</td>
                            <td>{{ result[p].values[v].oTarea.Nombre }}</td>
                            <td>{{ result[p].values[v].oHora.CantidadHoras }}</td>                        
                        </tr>
                </table>
                <pagination-controls (pageChange)=" p =$event"> </pagination-controls>
            
        </div>
    </div>
    </div>
</div>
<app-footer></app-footer>



<hr>



     


                                <!-- <tr *ngFor="let k of horasefectivas | keys | paginate:{itemsPerPage:8,currentPage: p} ">
                            <td>{{ horasefectivas[k].oHora.Fecha | date: "EEEE,dd-MM-yyyy" }}</td>
                            <td>{{ horasefectivas[k].oProyecto.Nombre }}</td>
                            <td>{{ horasefectivas[k].oTarea.Nombre }}</td>
                            <td>{{ horasefectivas[k].oHora.CantidadHoras }}</td>                        
                        </tr>  -->