<navbar></navbar>
<div class="container">
    <div class="animated fadeIn fast">

        <div class="row">
        <div class="card">
                <div class="card-header text-center">
                        <h2><b>HORAS EFECTIVAS</b></h2>
                    </div>
            <div class="card-body">
                    <button  type="button" class="btn btn-outline-primary btn-responsive pull-right" routerLink="/proyectos"> < Volver </button>
                <div class="row">
                    <!-- <div class="col-lg-2">
                        <button [routerLink]="['/proyecto','nuevo']" type="button" class="btn btn-primary ">                          
                          <i class="fa fa-print fa-5x" aria-hidden="true"></i>
                        </button>
                    </div> -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar proyectos">
                            <div class="input-group-addon">
                                <button type="button" class="btn btn-outline-primary">
                                        <fa name="search"></fa>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">                        
                <table class="table table-hover margin-top"
                *ngFor="let p of result | keys | paginate:{itemsPerPage:7,currentPage: p} ">
                <thead> 
                        <th colspan="3" class="text-center"><button class="btn btn-success btn-responsive">{{result[p].name | date: "EEEE, dd-MM-yyyy" }}</button></th>
                        
                        <!-- <th><span class="badge badge-pill badge-info">Total de Horas</span></th> -->

                        <th>
                        <button type="button" class="btn btn-primary">
                                Total de Horas <span class="badge badge-light">{{ result[p].total }}</span>
                                <span class="sr-only">unread messages</span>
                              </button>
                            </th>

                        
                    </thead>
                    <tbody>
                            <th>Proyecto</th>
                            <th>Tarea</th>
                            <th>Horas</th>

                            <tr *ngFor="let v of result[p].values | keys">                            
                            <td>{{ result[p].values[v].oProyecto.Nombre }}</td>
                            <td>{{ result[p].values[v].oTarea.Nombre }}</td>
                            <td>{{ result[p].values[v].oHora.CantidadHoras }}</td>                               
                        </tr>
                </table>
                <pagination-controls (pageChange)=" p =$event"> </pagination-controls>
            </div>
            
        </div>
    </div>
    </div>
</div>
<app-footer></app-footer>