<button type="button" class="btn btn-outline-dark btn-lg pull-left" (click)="backClicked()">
  <i class="fa fa-arrow-left"></i>
</button>

<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12">
      <form class="card w-100 card-block bg-faded">
        <legend class="m-b-1 text-center text-info"> <strong>

            <p *ngIf="proyecto.Nombre ==''"><b> NUEVO </b></p>
            <b> {{ proyecto.Nombre }} </b>

          </strong></legend>

        <div class="form-group input-group">
          <span class="has-float-label">
            <input placeholder="Proyecto" class="form-control" type="text" [ngModel]="proyecto.Nombre" name="Proyecto"
              (ngModelChange)="proyecto.Nombre=$event">
            <label for="last">Nombre</label>
          </span>
        </div>

        <div class="form-group input-group">
          <span class="has-float-label">
            <input placeholder="CodigoProyecto" class="form-control" type="text" [ngModel]="proyecto.CodigoProyecto"
              name="CodigoProyecto" (ngModelChange)="proyecto.CodigoProyecto=$event">
            <label for="last">Codigo Proyecto</label>
          </span>
        </div>

        <div class="form-group input-group">
          <span class="has-float-label">
            <input placeholder="Fecha" class="form-control" type="text" onfocus="(this.type='date')" [ngModel]="proyecto.FechaInicio | date: 'yyyy-MM-dd'"
              name="Fecha" (ngModelChange)="proyecto.FechaInicio=$event">
            <label for="last">Fecha de Inicio</label>
          </span>
        </div>


        <div class="form-group form-check">
          <input [(ngModel)]="proyecto.Estado" name="estado" class="form-check-input" type="checkbox"> Activo
        </div>


        <button class="btn btn-outline-dark btn-block" (click)="crearProyectos()">Guardar</button>
      </form>
    </div>
  </div>
</div>