<!-- <navbar></navbar>
<h3>PROYECTO</h3>

<form class="form-inline">
    <label class="sr-only" for="inlineFormInput">Nombre</label>

    <button [routerLink]="['/proyectos']" type="button" class="btn btn-outline-primary btn-responsive"> < </button>

            <input [(ngModel)]="proyecto.Nombre" name="Nombre" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Proyecto">

            <label class="sr-only" for="inlineFormInputGroup">Fecha de Inicio</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input placeholder="Fecha de Inicio" class="form-control col-sm-11" type="text" onfocus="(this.type='date')" [ngModel]="proyecto.FechaInicio | date: 'yyyy-MM-dd'"
                    name="FechaInicio" (ngModelChange)="proyecto.FechaInicio=$event">




            </div>

            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                <label class="form-check-label">
                    <input [(ngModel)]="proyecto.Estado" name="estado" class="form-check-input" type="checkbox"> Activo
                </label>
            </div>

            <button class="btn btn-primary" (click)="crearProyectos()">Guardar</button>
            <button class="btn btn-danger">Eliminar</button>

</form> -->


<!-- <navbar></navbar>
<body>

        <button type="button" class="btn btn-outline-dark btn-lg pull-left" (click)="backClicked()">
                <fa name="arrow-left"></fa>
             </button>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12">   
                    <form class="card w-100 card-block bg-faded">
                          <legend class="m-b-1 text-center text-info"> <strong> 

                                <p *ngIf="proyecto.Nombre ==''"><b> NUEVO </b></p>
                                <b> {{ proyecto.Nombre }} </b>
                              
                        </strong></legend>
                          <div class="form-group input-group">
                            <span class="has-float-label">
                              <input class="form-control" id="first" type="text" placeholder="Proyecto"/>
                              <label for="first">Nombre</label>
                            </span>
                          </div>
                          <div class="form-group input-group">
                            <span class="has-float-label">
                                    <input placeholder="Fecha" class="form-control" type="text" onfocus="(this.type='date')" [ngModel]="proyecto.FechaInicio | date: 'yyyy-MM-dd'"
                                            name="Fecha" (ngModelChange)="proyecto.FechaInicio=$event">
                              <label for="last">Fecha name</label>
                            </span>
                          </div>


                          <div class="form-group form-check">
                                <input [(ngModel)]="proyecto.Estado" name="estado" class="form-check-input" type="checkbox">                                    Activo
                            </div>


                          <button class="btn btn-outline-dark btn-block" (click)="crearProyectos()">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>




<app-footer></app-footer> -->


<navbar></navbar>

<body>

    <button type="button" class="btn btn-outline-dark btn-lg pull-left" (click)="backClicked()">
        <fa name="arrow-left"></fa>
    </button>
     
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12">
                <form class="card w-100 card-block bg-faded">
                    <legend class="m-b-1 text-center text-info"> <strong>

                            <p *ngIf="proyecto.Nombre ==''"><b> NUEVO PROYECTO </b></p>
                            <b> {{ proyecto.Nombre }} </b>

                        </strong></legend>


                    <div class="form-group input-group">
                        <span class="has-float-label">
                            <input [(ngModel)]="proyecto.Nombre" name="Nombre" id="Nombre" type="text" class="form-control">
                            <label for="first">Nombre</label>
                        </span>
                    </div>

                    <div class="form-group input-group">
                        <span class="has-float-label">
                            <input [(ngModel)]="proyecto.CodigoProyecto" name="CodigoProyecto" id="CodigoProyecto" type="text"
                                class="form-control">
                            <label for="second">Codigo Proyecto</label>
                        </span>
                    </div>

                    <div class="form-group input-group">
                        <span class="has-float-label">
                            <input placeholder="FechaInicio" class="form-control" type="text" onfocus="(this.type='date')"
                                [ngModel]="proyecto.FechaInicio | date: 'yyyy-MM-dd'" name="FechaInicio"
                                (ngModelChange)="proyecto.FechaInicio=$event">
                            <label for="third">Fecha Inicio</label>
                        </span>
                    </div>

                    <div class="form-group form-check">
                        <input [(ngModel)]="proyecto.Estado" name="estado" class="form-check-input" type="checkbox">
                        Activo
                    </div>
                    <button class="btn btn-outline-dark btn-block" (click)="crearProyectos()">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>