<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">    
                
                    <div class="card-header text-center">
                            <p *ngIf="tarea.Nombre ==''"><b> NUEVA TAREA </b></p>
                         <b> {{ tarea.Nombre }} </b>
                    </div>           
                <div class="card-body">
                        <button  type="button" class="btn btn-outline-primary btn-responsive pull-right" (click)="backClicked()"> < Volver </button>
                    <h5 class="card-title">TAREA</h5>
                    <form>
                        <div class="form-group">
                            <label>Nombre de la Tarea</label>
                            <input [(ngModel)]="tarea.Nombre" name="Nombre" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Tarea">
                            <label>Descripcion de la tarea:</label>
                            <textarea [(ngModel)]="tarea.Descripcion" name="Descripcion" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Descripcion de Tarea"></textarea>
                            <label>Proyecto</label>
                            <select [(ngModel)]="tarea.IdProyecto" name="IdProyecto" class="custom-select">
                                <option *ngFor="let p of proyectos" [ngValue]="p.IdProyecto">{{p.Nombre}}</option>
                              </select>
                            <label>Fecha de Inicio</label>
                            <div class="input-group">
                                <input placeholder="Fecha de Inicio" class="form-control" type="text" onfocus="(this.type='date')" [ngModel]="tarea.FechaInicio | date: 'yyyy-MM-dd'" name="FechaInicio" (ngModelChange)="tarea.FechaInicio=$event">
                            </div>
                            <label>Fecha de Fin</label>
                            <div class="input-group">
                                <input placeholder="Fecha de Fin" class="form-control" type="text" onfocus="(this.type='date')" [ngModel]="tarea.FechaFIn | date: 'yyyy-MM-dd'" name="FechaFIn" (ngModelChange)="tarea.FechaFIn=$event">
                            </div>
                        </div>
                        <button class="btn btn-outline-primary btn-block" (click)="crearTareas()"> Guardar</button>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>