<navbar></navbar>
<div class="container">
    <div class="animated fadeIn fast">
        <div class="card">
            <div class="card-header">
                Horas de la tarea: <b> {{ tarea.Nombre }} </b>
            </div>
            <div class="card-body">
                    <button  type="button" class="btn btn-outline-primary btn-responsive pull-right" (click)="backClicked()"> < Volver </button>
                <div class="row">
                    <div class="col-lg-2">
                        <button [routerLink]="['/horas','nueva']" type="button" class="btn btn-outline-success">
            <fa name="plus"></fa>Horas
        </button>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Horas">
                            <div class="input-group-addon">
                                <button type="button" class="btn btn-outline-primary">
                      <fa name="search"></fa>
                  </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover margin-top">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Horas</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Tarea</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let k of horas | keys | paginate:{itemsPerPage:5,currentPage: p}">
                            <!-- <td>{{ horas[k].id }}</td> -->
                            <td>{{ horas[k].CantidadHoras }}</td>
                            <td>{{ horas[k].Descripcion }}</td>
                            <td>{{ horas[k].Fecha | date: "dd-MM-yyyy" }}</td>
                            <td>{{ tarea.Nombre }}</td>
                            <td class="text-right">
                                <!-- Editar Hora -->
                                <button [routerLink]="['/horas',horas[k].Idhora]" type="button" class="btn btn-outline-success">
                                    Editar
                                    <fa name="edit"></fa>
                                          </button>
                                <!-- Borrar Tarea -->
                                <button (click)="borrarHora(horas[k].Idhora)" type="button" class="btn btn-outline-danger">
                                                Eliminar
                                              <i class="fa fa-times" aria-hidden="true"></i>
                                          </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)=" p =$event"> </pagination-controls>
            </div>
        </div>