<body>
    <div class="container">
        <button type="button" class="btn btn-outline-dark btn-lg pull-left" (click)="backClicked()">
            <i class="fa fa-arrow-left"></i>     
         </button>
      <h2><b>HORAS de la tarea: {{ tarea.Nombre }}</b></h2>               
        <div class="hint-text ">Mostrando <b>{{itemsPerPage}}</b> de <b>25</b> entradas</div>
        <ul class="pagination">
            <pagination-controls class="my-pagination" (pageChange)=" p =$event"> </pagination-controls>
        </ul>
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control form-control-lg" placeholder="Buscar horas">
        <div class="row">
            <div class="col-md-12 text-center" id="middlebutton">
                <button [routerLink]="['/horas/proyecto','nueva']" type="button" class="btn btn-success btn-lg">
                    Cargar Horas
                    <!-- <fa name="plus"></fa>Cargar Horas -->
                </button>
            </div>
        </div>
        <div class="container">
            <div class="">
                <table class="table table-dark  table-hover table-striped ">
                    <thead>
                        <tr>
                            <th>Horas</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Tarea</th>
                            <th>Editar Horas</th>                            
                            <th>Eliminar Hora</th>
                        </tr>
                    </thead>
                    <tbody>                        
                            <tr *ngFor="let k of horas | keys | paginate:{itemsPerPage:itemsPerPage,currentPage: p} ">
                                <td>{{ horas[k].CantidadHoras }}</td>
                                <td>{{ horas[k].Descripcion }}</td>
                                <td>{{ horas[k].Fecha | date: "dd-MM-yyyy" }}</td>
                                <td>{{ tarea.Nombre }}</td>
                            <td>
                                <!-- Editar Hora -->
                                <button [routerLink]="['/horas',horas[k].Idhora]" type="button" class="btn btn-outline-primary btn-sm text-center"
                                    data-toggle="tooltip" data-placement="top" title="Editar Hora">
                                    <i class="fa fa-edit"></i>    
                                </button>
                            </td>
                            <!-- Eliminar Horas -->                            
                            <td>
                                <button (click)="borrarHora(horas[k].Idhora)" type="button" class="btn btn-outline-danger btn-sm"
                                data-toggle="tooltip" data-placement="top" title="Eliminar Hora">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </button>
                            </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

