<div>


    <div class="row animated fadeIn fast">
        <div class="col-md-12">
            <div class="table-responsive">

                <h1>HORAS</h1>

                <button [routerLink]="['/hora','nueva']" type="button" class="btn btn-primary ">
                  <fa name="plus"></fa>Agregar Horas
              </button>
                <hr>

                <div class="input-group">
                    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control col-md-6" placeholder="Buscar Horas">
                    <div class="input-group-addon">
                        <button type="button" class="btn btn-outline-primary">
                          <fa name="search"></fa>
                      </button>
                    </div>
                </div>

                <hr>

                <!-- Tabla principal de horas  -->

                <br>

                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Horas</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Tarea</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let k of horas | keys | paginate:{itemsPerPage:5,currentPage: p}">

                            <!-- <td>{{ horas[k].id }}</td> -->
                            <td>{{ horas[k].CantidadHoras }}</td>
                            <td>{{ horas[k].Descripcion }}</td>
                            <td>{{ horas[k].Fecha | date: "dd-MM-yyyy" }}</td>
                            <td>{{ tarea.Nombre }}</td>

                            <td class="text-right w120">

                                <!-- Listar  Horas -->

                                <button [routerLink]="['/listarhoras',horas[k].IdTarea]" type="button" class="btn btn-outline-success">
                                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                              </button>


                                <!-- Agregar Horas -->
                                <button [routerLink]="['/horas',horas[k].IdTarea]" type="button" class="btn btn-outline-success">
                                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </button>

                                <!-- Editar Tarea proyectos[k].IdProyecto -->

                                <button [routerLink]="['/tarea',horas[k].IdTarea]" type="button" class="btn btn-outline-success">
                                  <i class="fa fa-pencil-square" aria-hidden="true"></i>
                              </button>

                                <!-- Borrar Tarea -->
                                <button (click)="borrarHora(k)" type="button" class="btn btn-outline-danger">
                                  <i class="fa fa-times" aria-hidden="true"></i>
                              </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)=" p =$event"> </pagination-controls>